.content-right {
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    padding: 8px;
  }
  

  
  .selected-items {
    height: 40vh;
    margin-top: 8px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 16px;
    overflow-y: auto; /* Add scrolling if there are too many items */
    border-radius: 8px;
  }
  
  .selected-item-card {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: rgb(244, 244, 244);
    margin-bottom: 8px;
    border-radius: 4px;
    justify-content: space-between; 
    transition: all 0.3s ease-in-out;
  }

  
  
  .item-name {
    flex: 2;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
  }
  
  .item-details {
    display: flex;
    flex: 8;
    align-items: center;
    justify-content: space-around; /* Space items evenly within this container */
  }
  
  .item-price, .item-quantity, .item-discount, .item-total {
    text-align: center;
    color: #000000;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .quantity-controls button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    border: none;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .item-discount input {
    width: 60px;
    margin-left: 5px;
  }
  
  .remove-item {
    flex-shrink: 0; 
    border: none;
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .order-summary {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .order-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 16px; 
  }
  
  .proceed {
    flex: 1; 
    color: white;
    padding: 20px 0; 
    font-size: 18px; 
    border-radius: 8px; 
    border: none;
    cursor: pointer;
    text-align: center;
  }
  
  .hold{
    background-color: #FD9404;
    font-weight: bold;
  }
  
  .proceed {
    background-color: #002465;
    font-weight: bold;
  }
  
  .hold:hover {
    background-color: #FD9404 !important;
  }
  
  .proceed:hover {
    background-color: #002465 !important;
  }
  
  